.Carousel{
    margin-top: -2cm;
    padding: 0;
   
    width: 50%;
    margin: 0 auto;
   
    height: auto;
    margin-bottom: 5cm;
    
}
.Carousel1{
    
    width: 20cm;
    height: 15cm;
    

}
.Carousel2{
    width: 20cm;
    height: 15cm;
}
.Carousel3{
    width: 20cm;
    height: 15cm;
}

